# macOS
.DS_Store

# Visual Studio Code
.vscode/

# IDEA
.idea


# Installation artifacts of old versions (<2.0.2)
/data
/.env

/blockscout
/blockscout-frontend
docker-compose.yaml
config/*.env

# Add to existing .gitignore
.env*
config/sidecar.yaml

dns

*.env

# Add to existing .gitignore
.postgres_password