STATS__DB_URL: {database_url}-stats
STATS__BLOCKSCOUT_DB_URL: {database_url}
STATS__CREATE_DATABASE: true
STATS__RUN_MIGRATIONS: true
STATS__BLOCKSCOUT_API_URL: http://172.{network_octet}.0.12:4000
STATS_CHARTS__TEMPLATE_VALUES__NATIVE_COIN_SYMBOL: {currency_symbol}